# Byte-compiled / optimized
__pycache__/
*.py[cod]

# Virtual environments
gait_int_venv/
.venv/
venv/

# Environment variables
.env

# pytest
.pytest_cache/

# Build artifacts
*.egg-info/
dist/
build/

# Editor files
.vscode/
.idea/

# Test caches
.coverage
.mypy_cache/
.dmypy.json
.ruff_cache/

# Logs, databases, misc
*.log
db.sqlite3
.DS_Store

# IPython / Jupyter
.ipynb_checkpoints/

# Project-specific
project_plans.png
